body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 10px;
}

 /*
  * Form
  */
input.search {
  width: 300px;
  font-size: 20px;
  padding: 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #CCC;
  -moz-box-shadow: inset 0 1px 2px #eee;
  -ms-box-shadow: inset 0 1px 2px #eee;
  -webkit-box-shadow: inset 0 1px 2px #EEE;
  box-shadow: inset 0 1px 2px #EEE;
  float: left;
}

button.submit {
  width: 30px;
  height: 35px;
  opacity: .6;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  float: left;
}

button.submit > div.search_icon {
  width: 14px;
  height: 15px;
  background: url(../img/search.png) no-repeat;
}

button.submit:hover {
  opacity: 1;
}

div.search_parameters {
  clear: both;
}

/*
 * Columns
 */
div#left,
div#right {
  position: absolute;
  top: 160px;
  bottom: 0;
  overflow: auto;
}

div#right {
  right: 0;
}

div#handle {
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #444;
  cursor: ew-resize;
}

/*
 * Search results
 */
ul.search_result li {
  list-style: none;
}

ul.search_result li div.entry a,
ul.search_result li div.details a {
  display: block;
}

/*
 * Loader
 */
div#loader {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  position: absolute;
  top: 0;
  left: 0;
}

div#loader img {
  position: absolute;
}