body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: rgb(220, 220, 220);
}

h3 {
  margin: 0;
}

.wrap-container {
  display: inline-block;
}

 /*
  * Unselectable
  */
div#topbar .title,
div#topbar .subtitle,
div.search_parameters label,
div.search_result > div.entry {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

 /*
  * Header
  */
div#topbar {
  border-bottom: solid 5px rgba(255,255,255,.4);
}

div#topbar .title {
  font-size: 20px;
  line-height: 20px;
}

div#topbar .subtitle {
  font-size: 12px;
}

div#topbar .title,
div#topbar .subtitle {
  color: #fff;
  margin: 0 5px;
}

 /*
  * Form
  */
input.search {
  width: 300px;
  font-size: 20px;
  color: rgb(85, 85, 85);
  padding: 5px;
  float: left;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #CCC;
  -moz-box-shadow: inset 0 1px 2px #eee;
  -ms-box-shadow: inset 0 1px 2px #eee;
  -webkit-box-shadow: inset 0 1px 2px #EEE;
  box-shadow: inset 0 1px 2px #EEE;
}

button.submit {
  width: 30px;
  height: 35px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  float: left;
  background: rgba(255,255,255,0.1);
}

button.submit > div.search_icon {
  width: 14px;
  height: 15px;
  opacity: .5;
  background: url(../img/search.png) no-repeat;
}

button.submit:hover {
  background: rgba(255,255,255,0.2);
}

div.search_container,
div.search_parameters {
  display: inline-block;
}

div.search_container {
  margin: 5px 0 0 0;
}

div.search_parameters input {
  display: none;
}

div.search_parameters input:checked + label,
div.search_parameters label:hover {
  text-decoration: none;
  border-top: 5px solid;
}

div.search_parameters label {
  color: #fff;
  cursor: pointer;
}

/*
 * Left / right containers
 */
div#left,
div#right {
  position: absolute;
  top: 79px;
  bottom: 0;
  overflow: auto;
}

div#right > .lookup_result {
  padding-left: 5px;
}

div#left > .search_result,
div#right > .lookup_result {
  min-height: 100%;
  background: rgb(245, 245, 245);
}

div#right {
  right: 0;
}

div#handle {
  position: fixed;
  top: 79px;
  bottom: 0;
  width: 5px;
  background: rgb(220, 220, 220);
  cursor: ew-resize;
}

/*
 * Search results
 */
div.search_result {
  position: relative;
  width: 100%;
  z-index: 5;
}

div#list_header {
  background: rgb(190, 190, 190);
  position: fixed;
  width: 462px;
  height: 24px;
  color: #fff;
}

div.search_result > div.element_0 {
  padding-top: 24px;
}

div.search_result > div#list_header,
div.search_result > div#list_header > div,
div.search_result > div.entry,
div.search_result > div.entry > div {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}

div.search_result > div.entry:nth-child(odd) {
  background: rgb(230, 230, 230)
}

div.search_result > div.entry a,
div.search_result > div.entry span {
  display: block;
  color: rgb(85, 85, 85);
  text-decoration: none;
}

/*
 * Lookup results
 */
div.artwork,
div.artwork > img {
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
          transition: all 0.5s;
}

div.artwork {
  height: 200px;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
          filter: grayscale(100%);
}

div.artwork:hover {
  -webkit-filter: grayscale(0%);
     -moz-filter: grayscale(0%);
          filter: grayscale(0%);
}

div.artwork > img {
  width: 100%;
  margin-top: -25%;
  -webkit-filter: blur(5px);
     -moz-filter: blur(5px);
          filter: blur(5px);
}

/*
 * Columns
 */
div.search_result.all > div#list_header > .artist,
div.search_result.all > div#list_header > .collection,
div.search_result.all > div#list_header > .track,
div.search_result.all > div#list_header > .track-number,
div.search_result.all > div.entry > .artist,
div.search_result.all > div.entry > .collection,
div.search_result.all > div.entry > .track,
div.search_result.all > div.entry > .track-number {
  width: 25%;
}

div.search_result.albums > div#list_header > .collection,
div.search_result.albums > div.entry > .collection {
  -moz-box-ordinal-group: 1;
  -webkit-box-ordinal-group: 1;
  box-ordinal-group: 1;
  width: 50%;
}

div.search_result.albums > div#list_header > .artist,
div.search_result.albums > div.entry > .artist {
  -moz-box-ordinal-group: 2;
  -webkit-box-ordinal-group: 2;
  box-ordinal-group: 2;
  width: 50%;
}

div.search_result.artists > div#list_header > .artist,
div.search_result.artists > div.entry > .artist {
  width: 100%;
}

div.search_result.song > div#list_header > .track,
div.search_result.song > div.entry > .track {
  -moz-box-ordinal-group: 1;
  -webkit-box-ordinal-group: 1;
  box-ordinal-group: 1;
  width: 25%;
}

div.search_result.song > div#list_header > .artist,
div.search_result.song > div.entry > .artist {
  -moz-box-ordinal-group: 2;
  -webkit-box-ordinal-group: 2;
  box-ordinal-group: 2;
  width: 25%;
}

div.search_result.song > div#list_header > .collection,
div.search_result.song > div.entry > .collection {
  -moz-box-ordinal-group: 3;
  -webkit-box-ordinal-group: 3;
  box-ordinal-group: 3;
  width: 25%;
}

div.search_result.song > div#list_header > .track-number,
div.search_result.song > div.entry > .track-number {
  -moz-box-ordinal-group: 4;
  -webkit-box-ordinal-group: 4;
  box-ordinal-group: 4;
  width: 25%;
}

div.search_result.albums > div#list_header > .track,
div.search_result.albums > div#list_header > .track-number,
div.search_result.artists > div#list_header > .collection,
div.search_result.artists > div#list_header > .track,
div.search_result.artists > div#list_header > .track-number,
div.lookup_result.collection > div#list_header > .artwork,
div.lookup_result.collection > div#list_header > .artist,
div.lookup_result.collection > div#list_header > .collection,
div.search_result.albums > div.entry > .track,
div.search_result.albums > div.entry > .track-number,
div.search_result.artists > div.entry > .collection,
div.search_result.artists > div.entry > .track,
div.search_result.artists > div.entry > .track-number,
div.lookup_result.collection > div.track > .artwork,
div.lookup_result.collection > div.track > .artist,
div.lookup_result.collection > div.track > .collection {
  display: none;
}

/*
 * Loader
 */
div.loader {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

div.loader img {
  position: absolute;
}